//------------------------------------------------------------------------------------------------------------------
//  (WEB) Mac OS Monterey CSS 
//  @Author: Murgado · https://github.com/murgado
//------------------------------------------------------------------------------------------------------------------

// Theme colors
$chosen-theme: 'light';
$light: (
    primary: #fff,
);
$dark: (
    primary: #fff,
);

body {
    color: map-get(#{$light}, primary)
}
//------------------------------------------------------------------------------------------------------------------
